@charset "UTF-8";
.phc-btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.5rem 2rem;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid white;
  color: white;
  background-color: #7b2d26;
  text-transform: uppercase;
  font-weight: 200;
}

.loader-container {
  width: 100%;
  height: 60px;
  position: relative;
  display: grid;
  place-items: center;
}
.loader-container .loader-ring {
  position: absolute;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 5px solid #4a95ec;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loaderRotate 1.25s infinite linear;
}
.loader-container .loader-ring::before, .loader-container .loader-ring::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotateZ(-45deg) translateX(27.5px);
  width: 5px;
  height: 5px;
  background-color: #4a95ec;
}
.loader-container .loader-ring::after {
  transform: translate(-50%, -50%) rotateZ(-135deg) translateX(27.5px);
}

@keyframes loaderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.article-filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 1500px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  box-sizing: border-box;
}
.article-filters .filter-option {
  position: relative;
  background-color: #f6f7f9;
  border-radius: 4px;
  width: 100%;
  min-width: 140px;
}
.article-filters .filter-option select,
.article-filters .filter-option input {
  box-sizing: border-box;
  border: none;
  padding: 28px 13px 12px 13px;
  width: 100%;
  background-color: inherit;
}
.article-filters .filter-option select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="black"><polygon points="0,0 100,0 50,50"/></svg>') no-repeat 95% 50% !important;
  background-size: 12px !important;
  background-position: calc(100% - 20px) center !important;
  background-repeat: no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.article-filters .filter-option label {
  padding: 2px 5px;
  font-size: 12px;
  position: absolute;
  left: 5px;
  top: 1px;
}

.article-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  width: 1500px;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .article-filters,
  .article-card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 525px) {
  .article-filters,
  .article-card-container {
    grid-template-columns: 1fr;
  }
}

.article-card {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16/9;
  position: relative;
  display: flex;
  font-size: clamp(0.75rem, 1vw, 1rem);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.article-card .background-image-container {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.article-card .background-image-container img {
  width: 100%;
  height: 100%;
  display: block;
}
.article-card .article-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-content: end;
  width: 100%;
  padding: 5%;
  background: linear-gradient(transparent 50%, #000);
}
.article-card .article-card-content * {
  text-shadow: #000 0 0 8px;
}
.article-card .article-card-content p,
.article-card .article-card-content h1 {
  margin: 0;
  padding: 0;
  color: white;
}
.article-card .article-card-content p.left,
.article-card .article-card-content h1.left {
  margin-right: auto;
}
.article-card .article-card-content p.right,
.article-card .article-card-content h1.right {
  margin-left: auto;
}
.article-card .article-card-content h1 {
  grid-column: 1/3;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  font-weight: bold;
}
.article-card .article-card-content .read-time {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 10px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.7);
}
.article-card.large {
  max-width: none;
  font-size: 1.2em;
}
.article-card.large h1 {
  font-size: clamp(1rem, 3.6vw, 2.5rem);
}
.article-card.large .article-card-content {
  padding: 2.5%;
}

phc-article {
  width: 1000px;
  max-width: 90vw;
  margin: 2rem auto;
  display: grid;
}
phc-article .article-content {
  margin: 1rem;
}
phc-article .author-container {
  display: flex;
  margin: 0 2rem;
}
phc-article .author-container .author-content {
  flex: 1;
  padding: 0.5rem;
  padding-right: 2rem;
  border-right: 1px solid black;
}
phc-article .author-container .author-content .author-pfp-container {
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  outline: 4px solid #7b2d26;
  outline-offset: 2px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
phc-article .author-container .author-content .author-name {
  text-align: center;
  margin: 0;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}
phc-article .author-container .author-bio {
  flex: 6;
  padding: 0.5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}
phc-article .author-container .author-bio p {
  margin: 0;
}
phc-article .author-container .author-bio .author-socials {
  display: flex;
  margin-top: auto;
  font-size: 1.5rem;
  gap: 0.5rem;
}
phc-article .author-container .author-bio .author-socials a {
  color: black;
}
@media screen and (max-width: 768px) {
  phc-article .author-container {
    flex-direction: column;
  }
  phc-article .author-container .author-content {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
  }
  phc-article .author-container .author-content .author-pfp-container {
    width: 75px;
  }
  phc-article .author-container .author-content .author-name {
    margin: 0 1rem;
    font-size: 1.5rem;
  }
  phc-article .author-container .author-bio {
    padding: 0;
    padding-top: 1rem;
  }
}

.back-btn-container {
  display: flex;
  width: 1500px;
  max-width: 90vw;
  margin: 0 auto;
}

.back-btn {
  padding: 1rem 0;
  color: currentColor;
  text-decoration: none;
  font-size: 1.5rem;
}
.back-btn:hover {
  text-decoration: underline;
}

phc-series-finder {
  width: 1500px;
  max-width: 90vw;
  margin: 1rem auto;
  display: block;
}
phc-series-finder .series-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  color: white;
}
@media screen and (max-width: 768px) {
  phc-series-finder .series-card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 512px) {
  phc-series-finder .series-card-container {
    grid-template-columns: 1fr;
  }
}
phc-series-finder .series-card-container .series {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
phc-series-finder .series-card-container .series:focus-within {
  outline: 2px solid black;
  outline-offset: 2px;
}
phc-series-finder .series-card-container .series:hover .series-image-container img, phc-series-finder .series-card-container .series:focus-within .series-image-container img {
  transform: scale(1.05);
}
phc-series-finder .series-card-container .series a,
phc-series-finder .series-card-container .series p {
  color: inherit;
  text-decoration: none;
  margin: 0;
  display: block;
}
phc-series-finder .series-card-container .series .series-banner {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.75rem;
  box-sizing: border-box;
  z-index: 1;
}
phc-series-finder .series-card-container .series .series-banner p {
  font-weight: bold;
}
phc-series-finder .series-card-container .series .series-banner a {
  background: none;
  padding: 0;
  text-transform: none;
  font-weight: normal;
  cursor: pointer;
}
phc-series-finder .series-card-container .series .series-banner a:hover {
  text-decoration: underline;
}
phc-series-finder .series-card-container .series .series-image-container {
  overflow: hidden;
  aspect-ratio: 16/9;
}
phc-series-finder .series-card-container .series .series-image-container img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 250ms ease;
}
phc-series-finder .series-card-container .series .view-more-link {
  background-color: #7B2D26;
  border-top: 1px solid black;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem;
  margin: 0;
  text-transform: uppercase;
}
phc-series-finder .series-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
phc-series-finder .series-button-container button {
  margin: 1rem 0;
  padding: 0.75rem 1rem;
  border: none;
  background-color: #7B2D26;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

phc-series-details {
  width: 1500px;
  max-width: 90vw;
  display: block;
  margin: 1rem auto;
}
phc-series-details .series-details-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #ecf0f1;
}
phc-series-details .series-details-container .series-head-row {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
}
phc-series-details .series-details-container .series-head-row .series-title {
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0.5rem;
}
phc-series-details .series-details-container .series-head-row a {
  color: black;
  text-decoration: none;
  padding: 1rem 0;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
phc-series-details .series-row {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  font-size: 18px;
}
phc-series-details .series-row .sermon-image-container {
  box-sizing: border-box;
  width: 50%;
  padding-right: 0;
}
phc-series-details .series-row .sermon-image-container img {
  width: 100%;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
phc-series-details .series-row .sermon-image-container .series-info-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
phc-series-details .series-row .series-info-row p {
  margin: 0;
  margin-right: 2rem;
  padding: 0;
}
phc-series-details .series-row .series-info-row button {
  margin-left: auto;
  padding: 0.75rem 1rem;
  border: none;
  background-color: #7B2D26;
  color: white;
  height: -moz-max-content;
  height: max-content;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}
phc-series-details .sermon-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  box-sizing: border-box;
  width: 50%;
  aspect-ratio: 2;
  padding: 0.25rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(50, 50, 50, 0.25);
}
phc-series-details .sermon-content .messages {
  display: flex;
  width: 100%;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
  color: currentColor;
}
phc-series-details .sermon-content .messages img {
  display: block;
  max-width: 40%;
  align-self: center;
  box-shadow: rgba(50, 50, 50, 0.25) 2px 0px 6px 0px;
  transition: transform 100ms linear;
}
phc-series-details .sermon-content .messages .sermon-info {
  padding: 0 1rem;
  width: 100%;
}
phc-series-details .sermon-content .messages .sermon-info p {
  margin: 0.5rem 0;
  padding: 0;
}
phc-series-details .sermon-content .messages .sermon-info .sermon-title {
  font-weight: bold;
  color: steelblue;
}
phc-series-details .sermon-content .messages:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
phc-series-details .sermon-content .messages:hover img {
  transform: translateX(2.5px);
}
@media screen and (max-width: 1024px) {
  phc-series-details .series-row {
    flex-direction: column;
  }
  phc-series-details .series-row .sermon-image-container {
    margin: 0 auto;
    width: 75%;
  }
  phc-series-details .series-row .sermon-content {
    width: 100%;
    overflow: visible;
    max-height: none;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  phc-series-details .series-row .sermon-image-container {
    width: 100%;
  }
  phc-series-details .series-details-container .series-head-row {
    flex-wrap: wrap;
  }
  phc-series-details .series-details-container .series-head-row .series-title {
    order: 999;
    width: 100%;
  }
}
@media screen and (max-width: 512px) {
  phc-series-details .sermon-content {
    gap: 0.5rem;
  }
  phc-series-details .sermon-content .messages {
    flex-direction: column;
  }
  phc-series-details .sermon-content .messages img {
    max-width: 100%;
  }
  phc-series-details .sermon-content .messages .sermon-info {
    box-sizing: border-box;
    padding: 1rem;
  }
}

phc-sermon-player {
  width: 100%;
  display: block;
}
phc-sermon-player .video-player-container {
  background: black;
  display: grid;
  place-items: center;
}
phc-sermon-player .video-player-container .video-player {
  margin: 0 auto;
  width: 1000px !important;
  height: auto !important;
  max-width: 100vw;
  aspect-ratio: 16/9;
}
phc-sermon-player .video-player-container .video-player img {
  display: block;
  width: 100%;
  height: 100%;
}
phc-sermon-player .video-player-container .video-player svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 3rem;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5333333333));
}
phc-sermon-player .sermon-details {
  width: 1500px;
  max-width: 90vw;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #ecf0f1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 18px;
}
phc-sermon-player .sermon-details h3 {
  margin-top: 1rem;
}
phc-sermon-player .sermon-details .title-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
phc-sermon-player .sermon-details .title-row h1,
phc-sermon-player .sermon-details .title-row p {
  margin: 0;
}
phc-sermon-player .sermon-details .title-row .sermon-links-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
phc-sermon-player .sermon-details .title-row .sermon-links-container a,
phc-sermon-player .sermon-details .title-row .sermon-links-container button {
  padding: 0.75rem 1rem;
  text-decoration: none;
  border: none;
  background-color: #7B2D26;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  height: -moz-max-content;
  height: max-content;
}
phc-sermon-player .other-sermons {
  width: 100%;
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
  overflow-x: auto;
  background-color: rgba(50, 50, 50, 0.25);
}
phc-sermon-player .other-sermons a {
  text-decoration: none;
  flex-shrink: 0;
  position: relative;
  width: 33%;
  max-width: 500px;
}
phc-sermon-player .other-sermons a img {
  display: block;
  width: 100%;
}
phc-sermon-player .other-sermons a .sermon-image-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem;
  opacity: 0;
  transition: opacity 150ms linear;
}
phc-sermon-player .other-sermons a .sermon-image-overlay:hover {
  opacity: 1;
}
phc-sermon-player .other-sermons a .sermon-image-overlay h1 {
  margin: 0;
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: white;
}
phc-sermon-player .other-sermons a .sermon-image-overlay p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  phc-sermon-player .sermon-details .title-row {
    flex-direction: column;
    gap: 0.5rem;
  }
  phc-sermon-player .other-sermons {
    justify-content: flex-start !important;
  }
  phc-sermon-player .other-sermons a {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  phc-sermon-player .other-sermons a {
    width: 80%;
  }
}

#events-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  justify-content: center;
  margin: 0 auto;
}

#events-container .event-card {
  width: 400px;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#events-container .event-card img {
  width: 100%;
  height: 100%;
  display: block;
}

.event-card .event-card-date-label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  font-size: clamp(14px, 1.5vw, 16px);
  padding: 0.5rem;
  width: 4em;
  height: 4em;
  border-bottom-right-radius: 4px;
}

.event-card .event-card-date-label p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.event-card .event-card-date-label p.date-label-day {
  font-size: 1.333em;
}

.event-card .event-card-title-label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7b2d26;
  font-weight: bold;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: transform 150ms ease-in-out 100ms, color 50ms linear 100ms;
  color: rgba(255, 255, 255, 0.2666666667);
  transform: translateY(100%);
}

.event-card:hover .event-card-title-label {
  transition: transform 150ms ease-in-out 0s, color 50ms linear 150ms;
  color: white;
  transform: translateY(0);
}

.event-card .event-card-title-label p {
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .event-card .event-card-title-label {
    transform: translateY(0);
    color: white;
  }
}
.championed-days-row {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.championed-days-row .championed-day {
  display: grid;
}
.championed-days-row .championed-day a {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #FCBB09;
  border-radius: 8px;
  padding: 1rem 4rem;
}
.championed-days-row .championed-day img {
  width: 220px;
  display: block;
  margin: 0 auto;
}

.wpad-table {
  border-collapse: collapse;
}
.wpad-table tr {
  border-bottom: 1px solid #2c3e50;
}
.wpad-table tr:last-of-type {
  border: none;
}
.wpad-table th {
  background-color: #2e2d2b;
  color: #f7f1e3;
}
.wpad-table th, .wpad-table td {
  padding: 8px;
  text-align: left;
}
.wpad-table .icon {
  text-align: center;
  cursor: pointer;
}

#table-wrapper {
  width: -moz-max-content;
  width: max-content;
  margin: 2rem auto;
  background-color: #FFF;
  border: 1px solid #2c3e50;
}

#prayer-log-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#prayer-log-container h1 {
  padding-top: 20px;
  margin: 0;
}

ody.react-confirm-alert-body-element {
  overflow: hidden;
}

.react-confirm-alert-blur {
  filter: url(#gaussian-blur);
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert-body {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  padding: 30px;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666;
}

.react-confirm-alert-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.react-confirm-alert-body > h1 {
  margin-top: 0;
}

.react-confirm-alert-body > h3 {
  margin: 0;
  font-size: 16px;
}

.react-confirm-alert-button-group {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.react-confirm-alert-button-group > button {
  outline: none;
  background: #333;
  border: none;
  display: inline-block;
  padding: 6px 18px;
  color: #eee;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
@keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
  border-color: #ccc;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 6px;
  width: 9px;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
  fill: #f0f0f0;
  color: #f0f0f0;
  stroke: #aeaeae;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle {
  fill: #fff;
  color: #fff;
  stroke: #aeaeae;
}

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  line-height: initial;
}

.react-datepicker--time-only .react-datepicker__time-container {
  border-left: 0;
}

.react-datepicker--time-only .react-datepicker__time,
.react-datepicker--time-only .react-datepicker__time-box {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.react-datepicker-popper {
  z-index: 1;
  line-height: 0;
}

.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}

.react-datepicker__header--time {
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

.react-datepicker__header--time:not(.react-datepicker__header--time--only) {
  border-top-left-radius: 0;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 0.3rem;
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__month-year-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll,
.react-datepicker__month-year-dropdown-container--scroll {
  display: inline-block;
  margin: 0 15px;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem;
}

.react-datepicker-time__header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.react-datepicker__navigation {
  align-items: center;
  background: none;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 2px;
  padding: 0;
  border: none;
  z-index: 1;
  height: 32px;
  width: 32px;
  text-indent: -999em;
  overflow: hidden;
}

.react-datepicker__navigation--previous {
  left: 2px;
}

.react-datepicker__navigation--next {
  right: 2px;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 85px;
}

.react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.react-datepicker__navigation--years-previous {
  top: 4px;
}

.react-datepicker__navigation--years-upcoming {
  top: -4px;
}

.react-datepicker__navigation:hover *::before {
  border-color: #a6a6a6;
}

.react-datepicker__navigation-icon {
  position: relative;
  top: -1px;
  font-size: 20px;
  width: 0;
}

.react-datepicker__navigation-icon--next {
  left: -2px;
}

.react-datepicker__navigation-icon--next::before {
  transform: rotate(45deg);
  left: -7px;
}

.react-datepicker__navigation-icon--previous {
  right: -2px;
}

.react-datepicker__navigation-icon--previous::before {
  transform: rotate(225deg);
  right: -7px;
}

.react-datepicker__month-container {
  float: left;
}

.react-datepicker__year {
  margin: 0.4rem;
  text-align: center;
}

.react-datepicker__year-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
}

.react-datepicker__year .react-datepicker__year-text {
  display: inline-block;
  width: 4rem;
  margin: 2px;
}

.react-datepicker__month {
  margin: 0.4rem;
  text-align: center;
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  display: inline-block;
  width: 4rem;
  margin: 2px;
}

.react-datepicker__input-time-container {
  clear: both;
  width: 100%;
  float: left;
  margin: 5px 0 10px 15px;
  text-align: left;
}

.react-datepicker__input-time-container .react-datepicker-time__caption {
  display: inline-block;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container {
  display: inline-block;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input {
  display: inline-block;
  margin-left: 10px;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input {
  width: auto;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type=time]::-webkit-inner-spin-button,
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type=time]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type=time] {
  -moz-appearance: textfield;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__delimiter {
  margin-left: 5px;
  display: inline-block;
}

.react-datepicker__time-container {
  float: right;
  border-left: 1px solid #aeaeae;
  width: 85px;
}

.react-datepicker__time-container--with-today-button {
  display: inline;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  position: absolute;
  right: -87px;
  top: 0;
}

.react-datepicker__time-container .react-datepicker__time {
  position: relative;
  background: white;
  border-bottom-right-radius: 0.3rem;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 85px;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  border-bottom-right-radius: 0.3rem;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  list-style: none;
  margin: 0;
  height: calc(195px + 0.85rem);
  overflow-y: scroll;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  box-sizing: content-box;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  height: 30px;
  padding: 5px 10px;
  white-space: nowrap;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: #216ba5;
  color: white;
  font-weight: bold;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
  background-color: #216ba5;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
  color: #ccc;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled:hover {
  cursor: default;
  background-color: transparent;
}

.react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}

.react-datepicker__week-number.react-datepicker__week-number--clickable {
  cursor: pointer;
}

.react-datepicker__week-number.react-datepicker__week-number--clickable:not(.react-datepicker__week-number--selected,
.react-datepicker__week-number--keyboard-selected):hover {
  border-radius: 0.3rem;
  background-color: #f0f0f0;
}

.react-datepicker__week-number--selected {
  border-radius: 0.3rem;
  background-color: #216ba5;
  color: #fff;
}

.react-datepicker__week-number--selected:hover {
  background-color: #1d5d90;
}

.react-datepicker__week-number--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #2a87d0;
  color: #fff;
}

.react-datepicker__week-number--keyboard-selected:hover {
  background-color: #1d5d90;
}

.react-datepicker__day-names {
  white-space: nowrap;
  margin-bottom: -8px;
}

.react-datepicker__week {
  white-space: nowrap;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  cursor: pointer;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 0.3rem;
  background-color: #f0f0f0;
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
  font-weight: bold;
}

.react-datepicker__day--highlighted,
.react-datepicker__month-text--highlighted,
.react-datepicker__quarter-text--highlighted,
.react-datepicker__year-text--highlighted {
  border-radius: 0.3rem;
  background-color: #3dcc4a;
  color: #fff;
}

.react-datepicker__day--highlighted:hover,
.react-datepicker__month-text--highlighted:hover,
.react-datepicker__quarter-text--highlighted:hover,
.react-datepicker__year-text--highlighted:hover {
  background-color: #32be3f;
}

.react-datepicker__day--highlighted-custom-1,
.react-datepicker__month-text--highlighted-custom-1,
.react-datepicker__quarter-text--highlighted-custom-1,
.react-datepicker__year-text--highlighted-custom-1 {
  color: magenta;
}

.react-datepicker__day--highlighted-custom-2,
.react-datepicker__month-text--highlighted-custom-2,
.react-datepicker__quarter-text--highlighted-custom-2,
.react-datepicker__year-text--highlighted-custom-2 {
  color: green;
}

.react-datepicker__day--holidays,
.react-datepicker__month-text--holidays,
.react-datepicker__quarter-text--holidays,
.react-datepicker__year-text--holidays {
  position: relative;
  border-radius: 0.3rem;
  background-color: #ff6803;
  color: #fff;
}

.react-datepicker__day--holidays .overlay,
.react-datepicker__month-text--holidays .overlay,
.react-datepicker__quarter-text--holidays .overlay,
.react-datepicker__year-text--holidays .overlay {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.react-datepicker__day--holidays:hover,
.react-datepicker__month-text--holidays:hover,
.react-datepicker__quarter-text--holidays:hover,
.react-datepicker__year-text--holidays:hover {
  background-color: #cf5300;
}

.react-datepicker__day--holidays:hover .overlay,
.react-datepicker__month-text--holidays:hover .overlay,
.react-datepicker__quarter-text--holidays:hover .overlay,
.react-datepicker__year-text--holidays:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: #216ba5;
  color: #fff;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: #1d5d90;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #bad9f1;
  color: rgb(0, 0, 0);
}

.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: #1d5d90;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range) {
  background-color: rgba(33, 107, 165, 0.5);
}

.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__year--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__month-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__year--selecting-range .react-datepicker__month-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__quarter-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__year--selecting-range .react-datepicker__quarter-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__year-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__year--selecting-range .react-datepicker__year-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range) {
  background-color: #f0f0f0;
  color: #000;
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  cursor: default;
  color: #ccc;
}

.react-datepicker__day--disabled:hover,
.react-datepicker__month-text--disabled:hover,
.react-datepicker__quarter-text--disabled:hover,
.react-datepicker__year-text--disabled:hover {
  background-color: transparent;
}

.react-datepicker__day--disabled .overlay,
.react-datepicker__month-text--disabled .overlay,
.react-datepicker__quarter-text--disabled .overlay,
.react-datepicker__year-text--disabled .overlay {
  position: absolute;
  bottom: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  position: absolute;
  padding: 0.5rem;
  box-sizing: content-box;
}

.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 25px;
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view,
.react-datepicker__month-year-read-view {
  border: 1px solid transparent;
  border-radius: 0.3rem;
  position: relative;
}

.react-datepicker__year-read-view:hover,
.react-datepicker__month-read-view:hover,
.react-datepicker__month-year-read-view:hover {
  cursor: pointer;
}

.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover .react-datepicker__month-read-view--down-arrow {
  border-top-color: #b3b3b3;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  transform: rotate(135deg);
  right: -16px;
  top: 0;
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  z-index: 1;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid #aeaeae;
}

.react-datepicker__year-dropdown:hover,
.react-datepicker__month-dropdown:hover,
.react-datepicker__month-year-dropdown:hover {
  cursor: pointer;
}

.react-datepicker__year-dropdown--scrollable,
.react-datepicker__month-dropdown--scrollable,
.react-datepicker__month-year-dropdown--scrollable {
  height: 150px;
  overflow-y: scroll;
}

.react-datepicker__year-option,
.react-datepicker__month-option,
.react-datepicker__month-year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.react-datepicker__year-option:first-of-type,
.react-datepicker__month-option:first-of-type,
.react-datepicker__month-year-option:first-of-type {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.react-datepicker__year-option:last-of-type,
.react-datepicker__month-option:last-of-type,
.react-datepicker__month-year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.react-datepicker__year-option:hover,
.react-datepicker__month-option:hover,
.react-datepicker__month-year-option:hover {
  background-color: #ccc;
}

.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b3b3;
}

.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b3b3;
}

.react-datepicker__year-option--selected,
.react-datepicker__month-option--selected,
.react-datepicker__month-year-option--selected {
  position: absolute;
  left: 15px;
}

.react-datepicker__close-icon {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0 6px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.react-datepicker__close-icon::after {
  cursor: pointer;
  background-color: #216ba5;
  color: #fff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  padding: 2px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  content: "×";
}

.react-datepicker__close-icon--disabled {
  cursor: default;
}

.react-datepicker__close-icon--disabled::after {
  cursor: default;
  background-color: #ccc;
}

.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2147483647;
}

.react-datepicker__portal .react-datepicker__day-name,
.react-datepicker__portal .react-datepicker__day,
.react-datepicker__portal .react-datepicker__time-name {
  width: 3rem;
  line-height: 3rem;
}

@media (max-width: 400px), (max-height: 550px) {
  .react-datepicker__portal .react-datepicker__day-name,
  .react-datepicker__portal .react-datepicker__day,
  .react-datepicker__portal .react-datepicker__time-name {
    width: 2rem;
    line-height: 2rem;
  }
}
.react-datepicker__portal .react-datepicker__current-month,
.react-datepicker__portal .react-datepicker-time__header {
  font-size: 1.44rem;
}

.react-datepicker__children-container {
  width: 13.8rem;
  margin: 0.4rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  height: auto;
}

.react-datepicker__aria-live {
  position: absolute;
  -webkit-clip-path: circle(0);
          clip-path: circle(0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}

.react-datepicker__calendar-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}/*# sourceMappingURL=main.css.map */